<%- layout('layouts/app') %>
    <section class="px-4 lg:px-0">
        <div class="container mx-auto mt-10 md:mt-20">
            <div class="md:flex justify-between">
                <div class=" w-full md:w-[50%] mb-4 md:mb-0">
                    <p class="text-[#DB1A5A] text-md font-medium">Announcing asyncbase premium <i class="bi bi-arrow-right align-middle text-lg"></i></p>
                    <p class="text-3xl md:text-7xl tracking-wide md:tracking-normal font-semibold">F*🤬K YOUR BACKEND LET US DO <span class="text-[#DB1A5A]">THE WORK.</span></p>
                </div>
                <div class="w-full md:w-[40%]">
                    <div> 
                        <p class="text-sm md:text-lg text-[#5D646D] text-justify font-medium md:tracking-widest md:w-[90%]">asyncbase's open-source platform lets you add Auth, DBs, Functions and Storage to your product and build any application at any scale, own your data, and use your preferred coding languages and tools</p>
                    </div>
                    <div class="flex justify-start gap-3 md:gap-5 mt-4">
                        <div class="p-1 px-3 rounded-md border-2 border-[#901840] bg-[#DB1A5A] scale-90 md:scale-100 cursor-pointer hover:bg-[#E90064]">
                            <a class="text-white font-medium duration-200">Get Started</a>
                        </div>
                        <div class="p-1 px-3 rounded-md border-2 border-[#BCC6D2] scale-90 md:scale-100 cursor-pointer">
                            <a class="text-[#4A4A4A] font-semibold duration-200">Sign in</a>
                        </div>
                    </div>
                </div>
            </div>
            <div data-aos="fade-down" class="mx-auto mt-10">
                <img class="mx-auto w-[105%]" src="/img/hero.png" alt="hero">
            </div>
        </div>
    </section>

    <section class="bg-[#FFFFFF] md:bg-[#F6F6F6] pt-20">
        <div class="container mx-auto">
            <p class="text-center text-xl md:text-3xl font-semibold">Trusted by <span class="text-[#DB1A5A]">tech giants</span> no cap 🔥</p>
            <div data-aos="fade-up" class="flex flex-wrap justify-center mx-auto gap-5 md:gap-20 mt-5 md:mt-10 items-center">
                <div class="w-[100px] md:w-[250px]">
                    <img class="w-[90%] md:w-[75%]" src="/img/ecode.png" alt="ecode">
                </div>
                <div class="w-[100px] md:w-[250px]">
                    <img class="w-[90%] md:w-[80%]" src="/img/microsoft.png" alt="microsoft">
                </div>
                <div class="w-[100px] md:w-[250px]">
                    <img class="w-[90%] md:w-[70%]" src="/img/google.png" alt="google">
                </div>
                <div class="w-[100px] md:w-[250px]">
                    <img class="w-[100%] md:w-[75%]" src="/img/oracle.png" alt="oracle">
                </div>
                <div class="w-[100px] md:w-[250px]">
                    <img class="w-[90%] md:w-[70%]" src="/img/dana.png" alt="dana">
                </div>
                <div class="w-[100px] md:w-[250px]">
                    <img class="w-[90%] md:w-[70%]" src="/img/gojek.png" alt="gojek">
                </div>
                <div class="w-[100px] md:w-[250px]">
                    <img class="w-[90%] md:w-[70%]" src="/img/biznet.png" alt="biznet">
                </div>
                <div class="w-[100px] md:w-[250px]">
                    <img class="w-[90%] md:w-[70%]" src="/img/accenture.png" alt="accenture">
                </div>
            </div>
        </div>
    </section>

    <section class="bg-[#FFFFFF] md:bg-[#F6F6F6] pt-20 md:pt-28 px-4 lg:px-0">
        <div class="container mx-auto">
            <p class="text-center text-lg md:text-3xl font-semibold">asyncbase offers a <span class="text-[#DB1A5A]">range of features 😎</span></p>
            <div  data-aos="flip-up" class="md:flex justify-center gap-10 mt-10 md:mt-16">
                <div class="w-[5%] relative hidden md:block">
                    <img class="absolute" src="/img/circle-database.png" alt="circle-database">
                    <img class="absolute left-2.5 top-2" src="/img/line-database.png" alt="line-database">
                </div>
                <div class="w-full md:w-[50%] mb-4 md:mb-0">
                    <div class="flex gap-3 items-center">
                        <img src="/img/database-icon.png" alt="database-icon">
                        <p class="text-[#5D646D] font-medium">Database</p>
                    </div>
                    <div class="mt-2">
                        <p class="text-lg md:text-2xl font-medium">Open Source Cloud SQL Database <br/> (without the hassle)</p>
                        <p class="text-sm md:text-lg text-[#5D646D] text-justify md:tracking-wide md:w-[75%] mt-4 font-medium">Every asyncbase project is a dedicated PostgreSQL database, trusted by millions of world leading engineers.<br/>PostgreSQL is one of the worlds most scalable and reliable databases.</p>
                    </div>
                    <div class="hidden md:block">
                        <div class="flex justify-start gap-3 md:gap-5 mt-4">
                            <div class="p-1 px-3 rounded-md bg-[#DB1A5A] scale-90 md:scale-100 cursor-pointer hover:bg-[#E90064]">
                                <a class="text-white font-medium duration-200">Start a Project</a>
                            </div>
                            <div class="p-1 px-3 rounded-md border-2 border-[#BCC6D2] scale-90 md:scale-100 cursor-pointer">
                                <a class="text-[#4A4A4A] font-semibold duration-200"><i class="bi bi-book-half me-2 "></i>See Documentation</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-[50%]">
                    <div class="md:ms-20">
                        <img src="/img/database-img.svg" alt="database">
                    </div>
                </div>
            </div>

            <div  data-aos="flip-up" class="md:flex justify-center gap-10 mt-10 md:mt-16">
                <div class="w-[5%] relative hidden md:block">
                    <img class="absolute" src="/img/circle-authentication.png" alt="circle-authentication">
                    <img class="absolute left-2.5 top-2" src="/img/line-authentication.png" alt="line-authentication">
                </div>
                <div class="w-full md:w-[50%] mb-4 md:mb-0">
                    <div class="flex gap-3 items-center">
                        <img src="/img/authentication-icon.png" alt="authentication-icon">
                        <p class="text-[#5D646D] font-medium">Authentication</p>
                    </div>
                    <div class="mt-2">
                        <p class="text-lg md:text-2xl font-medium">Open Source Authentication <br/> (with tons of integrations)</p>
                        <p class="text-sm md:text-lg text-[#5D646D] text-justify md:tracking-wide md:w-[70%] mt-4 font-medium">Every asyncbase project comes with a complete user management system that works without any additional tools.<br/>Including PostgreSQL’s policy engine, for fine-grained access rules</p>
                    </div>
                    <div class="hidden md:block">
                        <div class="flex justify-start gap-3 md:gap-5 mt-4">
                            <div class="p-1 px-3 rounded-md bg-[#DB1A5A] scale-90 md:scale-100 cursor-pointer hover:bg-[#E90064]">
                                <a class="text-white font-medium duration-200">Start a Project</a>
                            </div>
                            <div class="p-1 px-3 rounded-md border-2 border-[#BCC6D2] scale-90 md:scale-100 cursor-pointer">
                                <a class="text-[#4A4A4A] font-semibold duration-200"><i class="bi bi-book-half me-2 "></i>See Documentation</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-[50%]">
                    <div class="md:ms-20">
                        <img src="/img/authentication-img.svg" alt="authentication-img">
                    </div>
                </div>
            </div>

            <div  data-aos="flip-up" class="md:flex justify-center gap-10 mt-10 md:mt-16">
                <div class="w-[5%] relative hidden md:block">
                    <img class="absolute" src="/img/circle-function.png" alt="circle-function">
                </div>
                <div class="w-full md:w-[50%] mb-4 md:mb-0">
                    <div class="flex gap-3 items-center">
                        <img src="/img/function-icon.png" alt="authentication-icon">
                        <p class="text-[#5D646D] font-medium">Function</p>
                    </div>
                    <div class="mt-2">
                        <p class="text-lg md:text-2xl font-medium">Customize and Extend Just Like <br/> Building Your Organic Backend</p>
                        <p class="text-sm md:text-lg text-[#5D646D] text-justify md:tracking-wide md:w-[70%] mt-4 font-medium">CDeploy and scale serverless functions in secure, isolated runtime. Execute yocode closest to your users with lightspeed deployment times and low latency.</p>
                    </div>
                    <div class="hidden md:block">
                        <div class="flex justify-start gap-3 md:gap-5 mt-4">
                            <div class="p-1 px-3 rounded-md bg-[#DB1A5A] scale-90 md:scale-100 cursor-pointer hover:bg-[#E90064]">
                                <a class="text-white font-medium duration-200">Start a Project</a>
                            </div>
                            <div class="p-1 px-3 rounded-md border-2 border-[#BCC6D2] scale-90 md:scale-100 cursor-pointer">
                                <a class="text-[#4A4A4A] font-semibold duration-200"><i class="bi bi-book-half me-2 "></i>See Documentation</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-[40%]">
                    <div class="md:ms-20">
                        <img src="/img/function-img.svg" alt="authentication-img">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-[#FFFFFF] md:bg-[#F6F6F6] pt-12 md:pt-28 px-4 lg:px-0">
        <div class="mx-auto container">
            <div class="md:flex justify-center gap-5 md:mt-16">
                <div  data-aos="fade-left" class="w-full md:w-[50%] mb-4 md:mb-0">
                    <div class="mt-2">
                        <p class="text-lg md:text-4xl font-medium md:w-[80%]"><span class="md:mr-10">Works</span> <span class="md:mr-10">seamlessly</span> <span class="md:mr-10">with</span> <span class="md:mr-10 text-[#DB1A5A]">20+</span> wellknown frameworks 😱 </p>
                        <p class="text-sm md:text-lg text-[#5D646D] text-justify md:tracking-wide md:w-[80%] mt-4 font-medium">Code the way you want, and be yourself. We support many SDKs making asyncbase flexible to your needs and ensuring you can code with the language you fancy the most.</p>
                    </div>
                    <div class="hidden md:block">
                        <div class="flex justify-start gap-3 md:gap-5 mt-4">
                            <div class="p-1 px-3 rounded-md bg-[#DB1A5A] scale-90 md:scale-100 cursor-pointer hover:bg-[#E90064]">
                                <a class="text-white font-medium duration-200">Explore all SDKs</a>
                            </div>
                            <div class="p-1 px-3 rounded-md border-2 border-[#BCC6D2] scale-90 md:scale-100 cursor-pointer">
                                <a class="text-[#4A4A4A] font-semibold duration-200"><i class="bi bi-book-half me-2 "></i>See Documentation</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div  data-aos="fade-right" class="w-full md:w-[50%]">
                    <div class="mx-auto md:ms-24">
                        <img src="/img/works.svg" alt="authentication-img">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pt-5 md:pt-28 bg-[#FFFFFF] md:bg-[#F6F6F6]">
        <div class="mx-auto md:bg-[url('/img/start-bg.png')] bg-center bg-no-repeat md:py-40">
            <div data-aos="zoom-in-up" class="flex flex-col items-center md:-mt-3">
                <p class="text-lg md:text-4xl font-medium text-center">Start building in <span class="text-[#DB1A5A]">seconds ⚡</span></p>
                <p class="text-sm md:text-lg text-[#5D646D] text-center md:tracking-wide mt-4 font-medium w-[90%] md:w-[38%] md:ms-5">Kickstart your next project with templates built by us and our community.<br/> See your products grow and keep track of your projects progress on the asyncbase console and see them grow into products users love and use every day.</p>
                <div class="flex justify-start gap-1 md:gap-5 mt-5 md:ms-3">
                    <div class="p-1 px-3 rounded-md bg-[#DB1A5A] scale-90 md:scale-100 cursor-pointer hover:bg-[#E90064]">
                        <a class="text-white font-medium duration-200 text-xs md:text-base">View all examples</a>
                    </div>
                    <div class="p-1 px-3 rounded-md border-2 border-[#BCC6D2] scale-90 md:scale-100 cursor-pointer">
                        <a class="text-[#4A4A4A] font-semibold duration-200 text-xs md:text-base"><i class="bi bi-book-half me-2"></i>Official Github Repository</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="bg-[#FFFFFF] md:bg-[#F6F6F6]">
        <div class="pt-5 md:pt-28">
            <p class="text-lg md:text-4xl font-medium text-center">Let’s read from our satisfied <span class="text-[#DB1A5A] block md:inline">#asyncomrades 🤝</span></p>
        </div>
        <div class="relative">
            <div id="feedback-container" class="flex flex-wrap gap-2 md:gap-5 justify-center mt-16 md:px-10 h-[450px] md:h-auto overflow-hidden">
                <% for (let feedback of feedbacks ) { %>
                    <div data-aos="zoom-out" class="border-2 rounded-md bg-white p-2 md:p-4 md:w-[20%] w-[45%] h-fit relative">
                        <div class="flex justify-start items-center">
                            <img class="rounded-full w-[11%] md:w-[10%] me-1 md:me-4" src="<%= feedback.img %>" alt="<%= feedback.img %>">
                            <p class="font-medium text-xs md:text-base"><%= feedback.name %></p>
                            <img class="w-[10%] md:w-[8%] absolute right-2 md:right-4" src="/img/x.png" alt="...">
                        </div>
                        <div>
                            <p class="text-xs md:text-sm mt-4 font-medium text-justify text-[#5D646D]"><%= feedback.message %></p>
                        </div>
                    </div>
                <% } %>
            </div>
            <div id="shadow" class="absolute inset-0 md:hidden" style="background: rgb(255,255,255);
            background: linear-gradient(0deg, rgba(255,255,255,1) 10%, rgba(255,255,255,0) 100%);">
            </div>
            <div id="btn-see-more" class="p-1 px-3 rounded-md border-2 border-[#BCC6D2] scale-90 md:scale-100 absolute md:hidden right-[38%] bottom-5 qursor-pointer">
                <a class="text-[#4A4A4A] font-semibold duration-300"></i>See More</a>
            </div>
        </div>
    </section>

    <section class="bg-[#FFFFFF] md:bg-[#F6F6F6] py-20">
        <div class="mx-auto container">
            <p class="text-3xl md:text-4xl font-medium text-center block">Develop like a whole <span class="text-[#DB1A5A] block md:inline">IT Department 🤙</span></p>
            <div class="p-2 px-3 rounded-md bg-[#DB1A5A] w-fit mx-auto mt-5 cursor-pointer hover:bg-[#E90064]">
                <a class="text-white font-medium duration-200 tacxrs">Start Your Project Now</a>
            </div>
        </div>
    </section>

    <script>
        const btnSeeMore = document.querySelector('#btn-see-more');
        const feedBackContainer = document.querySelector('#feedback-container');
        const shadow = document.querySelector('#shadow');

        btnSeeMore.addEventListener('click', () => {
            feedBackContainer.classList.toggle('h-auto');
            shadow.classList.toggle('opacity-0');
            btnSeeMore.classList.add('hidden');
        })

    </script>